<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Quantum.Development.Kit" version="0.5.1902.2802" targetFramework="net461" />
  <package id="Microsoft.Quantum.Simulators" version="0.5.1902.2802" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
</packages>